{% extends 'base.html' %}

{% block title %}
<title>QuidProQuo - Create Your Profile</title>
{% endblock %}

{% block body %}
<h1>Create Your Profile</h1>
<br>
<div class="form">
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.user_name.label}}
        {{ form.user_name }}
        <br>
        {{ form.password.label}}
        {{ form.password }}
        <br>
        {{ form.property.label}}
        {{ form.property }}
        <br>
        {{ form.cash.label}}
        {{ form.cash }}
        <br>
        {{ form.investments.label }}
        {{ form.investments }}
        <br>
        {{ form.submit }}
    </form> 
</div>
{% endblock %}
